*{
     margin: 0;
     padding: 0;
 }
 body {
     background-color: rgba(244, 241, 235, 0.584);
 }
 
 .topnav {
     position: fixed;
     width: 100%;
     height: 10px;
     z-index: 99;
     bottom: 0;
     top: 0;
     background-color: #A6C2CE;
     transition: 0.4s;
     padding: 20px 0px;
 }
 
 .icon{
     width: 100%;
     float: right;
     height: 10px;
     margin-top: 0;
     top: 0;
     bottom: 0;
 }
 
 .menu{
     width: 100%;
     float: right;
     height: 10px;
     top: 0;
     bottom: 0;
 }
 ul {
     width: 70%;
     height: 10px;
     float: right;
     justify-content: center;
     display: flex;
     align-items: center;
 }
 
 ul li {list-style: none;
     margin-left: 100px;
 }
 
 ul li a {
     width: 100%;
     font-size: 165%;
     text-align: center;
     margin-top: 0;  
     float: right;
     text-decoration: none;
     color: #6B799E;
 }
 
 ul li a:hover {
     color: rgb(117, 116, 116);
 }
 
 button.hover {
     color: black;
 }

#grid-container {
     width: cover;
     height: cover;
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 0;
     grid-row: auto auto auto;
     padding: 1px;
}

.headline {
     width: cover;
     height: 250px;
     background-size: cover;
     color: rgb(33, 39, 54);
     text-align: left;
     font-size: 400%;
     font-family: 'Times New Roman', Times, serif;
     margin-top: 50px;
     margin-left: 50px;
     margin-right: 50px;
     grid-area: 1/ 1/ span 1/ span 3;
}

.content1 {
     width: cover;
     height: cover;
     font-size: 160%;
     font-family: 'Times New Roman', Times, serif;
     text-align: left;
     margin-top: 40px;
     margin-left: 10%;
     margin-right: 5%;
     margin-bottom: 70px;
     float: center;
     grid-area: 2/ 2/ span 1/ span 2;

}

.shape1 {
     background: none;
     object-fit: contain;
     width: 401px;
     height: 601px;
     margin-top: 40px;
     margin-left: 15%;
     margin-right: 10%;
     margin-bottom: 70px;
     float: center;
     display: flex;
     grid-area: 2/ 1;
}

.content2 {
     width: cover;
     height: cover;
     font-size: 160%;
     font-family: 'Times New Roman', Times, serif;
     text-align: right;
     margin-top: 70px;
     margin-left: 70px;
     margin-right: 35px;
     margin-bottom: 70px;
     float: center;
     grid-area: 3/ 1/ span 1/ span 2;
}

.shape2 {
     background: none;
     object-fit: contain;
     width: 517px;
     height: 388px;
     margin-top: 70px;
     margin-left: 35px;
     margin-right: 70px;
     margin-bottom: 70px;
     float: center;
     display: flex;
     grid-area: 3/ 3;
}

.content3 {
     width: cover;
     height: cover;
     font-size: 160%;
     font-family: 'Times New Roman', Times, serif;
     text-align: right;
     margin-top: 70px;
     margin-left: 70px;
     margin-right: 35px;
     margin-bottom: 70px;
     float: center;
     grid-area: 4/ 1/ span 1/ span 2;
}

.shape3 {
     background: none;
     object-fit: contain;
     width: 326px;
     height: 398px;
     margin-top: 70px;
     margin-left: 35px;
     margin-right: 70px;
     margin-bottom: 70px;
     float: center;
     display: flex;
     grid-area: 4/ 3;
}

.content4 {
     width: cover;
     height: cover;
     font-size: 160%;
     font-family: 'Times New Roman', Times, serif;
     text-align: left;
     margin-top: 70px;
     margin-left: 35px;
     margin-right: 70px;
     margin-bottom: 70px;
     float: center;
     grid-area: 5/ 3;
}

.shape4 {
     background: none;
     object-fit: contain;
     width: 326px;
     height: 398px;
     margin-top: 70px;
     margin-left: 70px;
     margin-right: 35px;
     margin-bottom: 70px;
     float: center;
     display: flex;
     grid-area: 5/ 1/ span 1/ span 2;
}

ul {
     list-style: none
   }
   
   a {
     text-decoration: none
   }
   
   .flex-rw {
     display: flex;
     flex-flow: row wrap;
   }
   
   footer {
     background: #A6C2CE;
     margin-top: auto;
     width: 100%
   }
   
   .footer-social-section {
     width: 100%;
     align-items: center;
     justify-content: space-around;
     position: relative;
     margin-top: 5px;
   }
   
   .footer-social-section::after {
     content: "";
     position: absolute;
     z-index: 1;
     top: 50%;
     left: 10px;
     border-top: 1px solid;
     width: calc(100% - 20px)
   }
   
   .footer-social-overlap {
     position: relative;
     z-index: 2;
     background: #A6C2CE;
     padding: 0 20px
   }
   
   .footer-social-connect {
     display: flex;
     align-items: center;
     font: 3.5em "Oswald";
     font-family: 'Times New Roman', Times, serif;
     color: #000000
   }
   
   .footer-social-small {
     font-size: 0.6em;
     padding: 0px 20px
   }
   
   .footer-social-overlap > a {
     font-size: 3em
   }
   
   .footer-social-overlap > a:not(:first-child) {
     margin-left: 0.38em
   }
   .footer-bottom-section {
     width: 100%;
     padding: 10px;
     border-top: 1px solid;
     margin-top: 10px;
     font-size: 15px;
   }
   
   .footer-bottom-section > div:first-child {
     margin-right: auto
   }
   
   .footer-bottom-wrapper {
     font-size: 1.5em;
     color: #000000
   }
   
   .footer-address {
     display: inline;
     font-style: normal
   }
   
   @media only screen and (max-width: 768px) {
     .footer-social-connect {
       font-size: 2.5em
     }
     .footer-social-overlap > a {
       font-size: 2.24em
     }
     .footer-bottom-wrapper {
       font-size: 1.3em
     }
   }
   
   @media only screen and (max-width: 568px) {
     main {
       font-size: 5em
     }
     .footer-social-section {
       justify-content: center
     }
     .footer-social-section::after {
       top: 25%
     }
     .footer-social-connect {
       margin-bottom: 10px;
       padding: 0 10px
     }
     .footer-social-overlap {
       display: flex;
       justify-content: center;
     }
     .footer-social-icons-wrapper {
       width: 100%;
       padding: 0
     }
     .footer-social-overlap > a:not(:first-child) {
       margin-left: 20px;
     }
     .footer-bottom-section {
       padding: 0 5px 10px 5px
     }
     .footer-bottom-wrapper {
       text-align: center;
       width: 100%;
       margin-top: 10px
     }
   }
   
   @media only screen and (max-width: 480px) {
     .footer-social-overlap > a {
       margin: auto
     }
     .footer-social-overlap > a:not(:first-child) {
       margin-left: 0;
     }
     .footer-bottom-rights {
       display: block
     }
   }
   
   @media only screen and (max-width: 320px) {
     .footer-list-header {
       font-size: 2.2em
     }
     .footer-list-anchor {
       font-size: 1.2em
     }
     .footer-social-connect {
       font-size: 2.4em
     }
     .footer-social-overlap > a {
       font-size: 2.24em
     }
     .footer-bottom-wrapper {
       font-size: 1.3em
     }
   }